
//
// Goldbill by Wahyu and Sani Co.
// https://www.myfonts.com/fonts/wahyu-sani-co/goldbill/
//

$font-goldbill: goldbill, sans-serif;

@font-face {
  font-family: 'Goldbill';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('fonts/Goldbill-XLLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Goldbill';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Goldbill-XSExtraBold.woff2') format('woff2');
}
